<p>Manage Users</p>

<form (ngSubmit)="createUser({ email: email.value, username: username.value, role: role.value , password: password.value })">
  <input type="text" #email placeholder="Email" required/>
  <input type="text" #username placeholder="Username" required/>
  <input type="text" #role placeholder="Role" required/>
  <input type="password" #password placeholder="Password" required/>
  <button type="submit">Create User</button>
</form>

<table border="1" class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>Username</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{ user.user_uuid }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
    <td>
      <button (click)="viewUserDetails(user.user_uuid)">View Details</button>
      <button (click)="updateUser(user.user_uuid, { email: 'new-email@example.com', username: 'new-username', role: 'new-role' })">Update</button>
      <button (click)="deleteUser(user.user_uuid)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

