.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;

}

.items{
 display: flex;
  flex-direction: column;
  background: aquamarine;
  padding: 10px 20px;
}
